.page{
    height: 100vh;
    width: 100%;
}
.post_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #F5F5F5;
    width: 700px;
    height: 450px;
    margin-top: 60px;
    border-radius: 12px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.post{
    width: 100%;
    margin-bottom: 30px;
}
.post_header{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.user_photo{
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
}
.brand_model{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.name{
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
}
.category{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: top;
    width: 80%;
    margin-right: 20px;
}
.post_content{
    margin-left: 30px;
}
.comment_section{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.comments{
    margin-left: 30px;
}
.comment_input{
    width: 75%;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 30px
}
.comment_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}
form{
    height: 30px;
}
.comment_button{
    height: 60px;
    background-color: #213547;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 6px;
    padding: 9px;
}